In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('assign3_students_train.txt', header=None, delimiter='\t', na_values='n/a')

df1.columns = ['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'edusupport','nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3']

df2 = pd.read_csv('assign3_students_test.txt', header=None, delimiter='\t', na_values='n/a')

df2.columns = ['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'edusupport','nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3']

In [3]:
df1_e = df1.drop(['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3'], axis=1)

In [4]:
df2_e = df2.drop(['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3'], axis=1)

In [5]:
df1_e = df1_e['edusupport'].str.split(' ', expand=True)

In [6]:
df1_e.columns = ['A', 'B', 'C']

In [7]:
school1 = []
family1 = []
paid1 = []
no1 = []

In [8]:
for i in range(len(df1_e.C)):
    school1.append(0)

for i in range(len(df1_e.C)):
    family1.append(0)
    
for i in range(len(df1_e.C)):
    paid1.append(0)
    
for i in range(len(df1_e.C)):
    no1.append(0)

In [9]:
for i in range(len(df1_e.A)):
    if df1_e.A[i] == 'school':
        school1[i]=1
        
for i in range(len(df1_e.B)):
    if df1_e.B[i] == 'school':
        school1[i]=1
        
for i in range(len(df1_e.C)):
    if df1_e.C[i] == 'school':
        school1[i]=1

In [10]:
for i in range(len(df1_e.A)):
    if df1_e.A[i] == 'family':
        family1[i]=1
        
for i in range(len(df1_e.B)):
    if df1_e.B[i] == 'family':
        family1[i]=1
        
for i in range(len(df1_e.C)):
    if df1_e.C[i] == 'family':
        family1[i]=1

In [11]:
for i in range(len(df1_e.A)):
    if df1_e.A[i] == 'paid':
        paid1[i]=1
        
for i in range(len(df1_e.B)):
    if df1_e.B[i] == 'paid':
        paid1[i]=1
        
for i in range(len(df1_e.C)):
    if df1_e.C[i] == 'paid':
        paid1[i]=1

In [12]:
for i in range(len(df1_e.A)):
    if df1_e.A[i] == 'no':
        no1[i]=1
        
for i in range(len(df1_e.B)):
    if df1_e.B[i] == 'no':
        no1[i]=1
        
for i in range(len(df1_e.C)):
    if df1_e.C[i] == 'no':
        no1[i]=1

In [13]:
sum(school1)

67

In [14]:
sum(family1)

372

In [15]:
sum(paid1)

33

In [16]:
sum(no1)

189

In [17]:
df1['sch'] = school1
df1['family'] = family1
df1['paid'] = paid1
df1['no'] = no1

In [18]:
df1.shape

(585, 32)

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
df1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,edusupport,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3,sch,family,paid,no
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,school,yes,yes,no,no,4,3,4,1,1,3,4,11,1,0,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,family,no,yes,yes,no,5,3,3,1,1,3,2,11,0,1,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,school,yes,yes,yes,no,4,3,2,2,3,3,6,12,1,0,0,0
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,family,yes,yes,yes,yes,3,2,2,1,1,5,0,14,0,1,0,0
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,family,yes,yes,no,no,4,3,2,1,2,5,0,13,0,1,0,0

In [21]:
df2_e = df2_e['edusupport'].str.split(' ', expand=True)

In [22]:
df2_e.columns = ['A', 'B']

In [23]:
school2 = []
family2 = []
paid2 = []
no2 = []

In [24]:
for i in range(len(df2_e.A)):
    school2.append(0)

for i in range(len(df2_e.A)):
    family2.append(0)
    
for i in range(len(df2_e.A)):
    paid2.append(0)
    
for i in range(len(df2_e.A)):
    no2.append(0)

In [25]:
for i in range(len(df2_e.A)):
    if df2_e.A[i] == 'school':
        school2[i]=1
        
for i in range(len(df2_e.B)):
    if df2_e.B[i] == 'school':
        school2[i]=1

In [26]:
for i in range(len(df2_e.A)):
    if df2_e.A[i] == 'family':
        family2[i]=1
        
for i in range(len(df2_e.B)):
    if df2_e.B[i] == 'family':
        family2[i]=1

In [27]:
for i in range(len(df2_e.A)):
    if df2_e.A[i] == 'paid':
        paid2[i]=1
        
for i in range(len(df2_e.B)):
    if df2_e.B[i] == 'paid':
        paid2[i]=1

In [28]:
for i in range(len(df2_e.A)):
    if df2_e.A[i] == 'no':
        no2[i]=1
        
for i in range(len(df2_e.B)):
    if df2_e.B[i] == 'no':
        no2[i]=1

In [29]:
sum(school2)

1

In [30]:
sum(family2)

26

In [31]:
sum(paid2)

6

In [32]:
sum(no2)

37

In [33]:
df2['sch'] = school2
df2['family'] = family2
df2['paid'] = paid2
df2['no'] = no2

In [34]:
df2.shape

(64, 32)

In [35]:
type(df1.edusupport[0])

str

In [36]:
df1[['sch', 'family', 'paid', 'no']]

     sch  family  paid  no
0      1       0     0   0
1      0       1     0   0
2      1       0     0   0
3      0       1     0   0
4      0       1     0   0
..   ...     ...   ...  ..
580    0       1     0   0
581    0       1     0   0
582    0       1     0   0
583    0       0     0   1
584    0       1     0   0

[585 rows x 4 columns]

In [37]:
df2[['sch', 'family', 'paid', 'no']]

    sch  family  paid  no
0     0       1     1   0
1     1       1     0   0
2     0       1     0   0
3     0       1     0   0
4     0       0     0   1
..  ...     ...   ...  ..
59    0       0     0   1
60    0       1     0   0
61    0       0     0   1
62    0       0     0   1
63    0       0     0   1

[64 rows x 4 columns]

In [38]:
categories = ['sch', 'family', 'paid', 'no']

In [39]:
%matplotlib inline
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import seaborn as sns
from sklearn.svm import SVC

In [40]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [41]:
df1_in = df1.drop(['edusupport','sch','family','paid','no'], axis=1)

In [42]:
df2_in = df2.drop(['edusupport','sch','family','paid','no'], axis=1)

In [43]:
df1_in.shape

(585, 27)

In [44]:
df2_in.shape

(64, 27)

In [45]:
X_train = df1_in
X_test = df2_in
print(X_train.shape)
print(X_test.shape)

(585, 27)
(64, 27)

In [46]:
for category in categories:
    print(df1[category])

0      1
1      0
2      1
3      0
4      0
      ..
580    0
581    0
582    0
583    0
584    0
Name: sch, Length: 585, dtype: int64
0      0
1      1
2      0
3      1
4      1
      ..
580    1
581    1
582    1
583    0
584    1
Name: family, Length: 585, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
580    0
581    0
582    0
583    0
584    0
Name: paid, Length: 585, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
580    0
581    0
582    0
583    1
584    0
Name: no, Length: 585, dtype: int64

In [47]:
# Define a pipeline combining a text feature extractor with multi lable classifier
NB_pipeline = Pipeline([
                ('tfidf', TfidfVectorizer(stop_words=stop_words)),
                ('clf', OneVsRestClassifier(MultinomialNB(
                    fit_prior=True, class_prior=None))),
            ])

In [49]:
df1.shape

(585, 32)

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(df1['edusupport'])
vectorizer.fit(df2['edusupport'])

TfidfVectorizer()

In [69]:
x_train = vectorizer.transform(df1['edusupport'])
y_train = df1.drop(labels = ['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'edusupport','nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3'], axis=1)

x_test = vectorizer.transform(df2['edusupport'])
y_test = df2.drop(labels = ['school' ,'sex' ,'age' ,'address' ,'famsize','Pstatus','Medu','Fedu' ,'Mjob','Fjob' ,'reason' ,'guardian'
               ,'traveltime' ,
               'studytime'  ,'failures' ,'edusupport','nursery','higher','internet','romantic','famrel' ,'freetime'
               ,'goout' ,'Dalc' ,
               'Walc','health' ,'absences','G3'], axis=1)

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier

In [71]:
%%time

# Using pipeline for applying logistic regression and one vs rest classifier
LogReg_pipeline = Pipeline([
                ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1)),
            ])

for category in categories:
    print('**Processing {} comments...**'.format(category))
    
    # Training logistic regression model on train data
    LogReg_pipeline.fit(x_train, df1[category])
    
    # calculating test accuracy
    prediction = LogReg_pipeline.predict(x_test)
    print('Test accuracy is {}'.format(accuracy_score(df2[category], prediction)))
    print("\n")

**Processing sch comments...**
Test accuracy is 1.0


**Processing family comments...**
Test accuracy is 1.0


**Processing paid comments...**
Test accuracy is 1.0


**Processing no comments...**
Test accuracy is 1.0


Wall time: 3.39 s

In [54]:
%%time

# using binary relevance
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

# train
classifier.fit(x_train, y_train)

# predict
predictions = classifier.predict(x_test)

# accuracy
print("Accuracy = ",accuracy_score(y_test,predictions))
print("\n")

Accuracy =  1.0


Wall time: 23.2 ms

In [55]:
NB_pipeline = Pipeline([
                ('tfidf', TfidfVectorizer(stop_words=stop_words)),
                ('clf', OneVsRestClassifier(MultinomialNB(
                    fit_prior=True, class_prior=None))),
            ])

In [67]:
for category in categories:
    print('... Processing {}'.format(category))
    # train the model using X_dtm & y
    NB_pipeline.fit(X_train, df1[category])
    # compute the testing accuracy
    prediction = NB_pipeline.predict(X_test)
    print('Test accuracy is {}'.format(accuracy_score(df2[category], prediction)))

... Processing sch

ValueError: Found input variables with inconsistent numbers of samples: [27, 585]

In [64]:
for category in categories:
    print(df1[category])

0      1
1      0
2      1
3      0
4      0
      ..
580    0
581    0
582    0
583    0
584    0
Name: sch, Length: 585, dtype: int64
0      0
1      1
2      0
3      1
4      1
      ..
580    1
581    1
582    1
583    0
584    1
Name: family, Length: 585, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
580    0
581    0
582    0
583    0
584    0
Name: paid, Length: 585, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
580    0
581    0
582    0
583    1
584    0
Name: no, Length: 585, dtype: int64

In [62]:
a.shape

(585,)

In [63]:
a

0      0
1      0
2      0
3      0
4      0
      ..
580    0
581    0
582    0
583    1
584    0
Name: no, Length: 585, dtype: int64